$background: #3D3BFF;
$background-second: #0b09ff;
$white: #ffffff;
$black: #000000;
$gray-blue: #657195;
$gray-standart: #FAFBFE;
$gray-light: #E6E8F0;
$grey: #209e00;
$red: #f21f21;


// media inquiry
$tablet: '(min-width: 768px)';
$desktop: '(min-width: 1920px)';
